# Build and Distribution
*.egg
*.egg-info/
*.manifest
*.spec
.eggs/
.installed.cfg
.pdm-build/
.pdm-python
.pdm.toml
build/
develop-eggs/
dist/
downloads/
eggs/
MANIFEST
parts/
sdist/
target/
wheels/
share/python-wheels/

# Bytecode and Compiled files
*.py[cod]
*.so
*$py.class
.Python
__pycache__/
__pypackages__/

# Coverage and Testing
*.cover
*.py,cover
.coverage
.coverage.*
.hypothesis/
.nox/
.nyc_output/
.pytest_cache/
.tox/
coverage.xml
coverage/
cover/
cypress/screenshots/
cypress/videos/
htmlcov/
nosetests.xml

# Database
*.db
*.sqlite3
*.sqlite3-journal
db.sqlite3
db.sqlite3-journal

# Docker
.docker/
docker-compose.override.yml
production.yml
staging.yml

# Documentation
/site
docs/_build/

# Environment and Settings
*.pid
*.pid.lock
*.seed
.cursorrules
.env
.env.*
!.env.example
.local/
.pdm.toml
.python-version
.venv
ENV/
env.bak/
env/
venv.bak/
venv/

# IDE and Editor files
*.launch
*.sublime-project
*.sublime-workspace
*.swp
*.swo
.idea/
.project
.classpath
.settings/
.spyderproject
.spyproject
.vscode/

# JavaScript and Node
*.tsbuildinfo
.cache/
.eslintcache
.next/
.npm
.pnpm-debug.log*
.stylelintcache
.turbo
.vercel
next-env.d.ts
node_modules/
npm-debug.log*
out/
storybook-static/
yarn-debug.log*
yarn-error.log*

# Logs and Temporary files
*.log
.webassets-cache
celerybeat-schedule
celerybeat.pid
instance/
local_settings.py
pip-delete-this-directory.txt
pip-log.txt
temp/
tmp/

# Media and Static files
media/
static/
!frontend/src/static/
uploads/

# OS-specific files
*.pem
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
.directory
._*
Desktop.ini
Thumbs.db
ehthumbs.db

# Python Tools
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.ropeproject
.scrapy
cython_debug/
dmypy.json
ipython_config.py
profile_default/

# Translations
*.mo
*.pot

#Migrations file
backend/token_manager/migrations/*
