version: '3.8'

services:
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/:/etc/nginx/conf.d/
      # - ./ssl:/etc/nginx/ssl
    links:
        - backend:backend
        - frontend:frontend
    depends_on:
      - frontend
      - backend
    networks:
      - billify_network
  backend:
    image: $BACKEND_IMAGE
    restart: always
    environment:
      - DEBUG=0
      - SECRET_KEY=${DJANGO_SECRET_KEY}
      - DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
      - ALLOWED_HOSTS=localhost,api.billify.be,127.0.0.1,staging-api.billify.be,test-api.billify.be,*
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_DB_URL}:${POSTGRES_PORT}/${POSTGRES_DB}
      - CORS_ALLOWED_ORIGINS=https://app.billify.be,https://test.billify.be,https://staging.billify.be
      - DIGITAL_OCEAN_SPACES_KEY=${DIGITAL_OCEAN_SPACES_KEY}
      - DIGITAL_OCEAN_SPACES_SECRET=${DIGITAL_OCEAN_SPACES_SECRET}
      - DIGITAL_OCEAN_SPACES_NAME=${DIGITAL_OCEAN_SPACES_NAME}
      - AWS_S3_ENDPOINT_URL=http://minio:9000
      - REDIS_URL=redis://redis:6379/0
      - PONTO_CLIENT_ID=${PONTO_CLIENT_ID}
      - PONTO_CLIENT_SECRET=${PONTO_CLIENT_SECRET}
      - PONTO_AUTH_URL=${PONTO_AUTH_URL}
      - PONTO_TOKEN_URL=${PONTO_TOKEN_URL}
      - PONTO_REDIRECT_URI=${PONTO_REDIRECT_URI}
      - PONTO_CONNECT_BASE_URL=${PONTO_CONNECT_BASE_URL}
      - IBANITY_API_HOST=${IBANITY_API_HOST}
      - PONTO_CERTIFICATE_PATH=${PONTO_CERTIFICATE_PATH}
      - PONTO_PRIVATE_KEY_PATH=${PONTO_PRIVATE_KEY_PATH}

      # Security (Generate these securely and share via secure channel)
      - PONTO_PRIVATE_KEY_PASSWORD=${PONTO_PRIVATE_KEY_PASSWORD}
      - PONTO_SIGNATURE_KEY_ID=${PONTO_SIGNATURE_KEY_ID}
      - FERNET_KEY=${FERNET_KEY}
    depends_on:
      - redis
      - minio
    networks:
      - billify_network
  frontend:
    image: $FRONTEND_IMAGE
    environment:
      - NEXT_PUBLIC_BACKEND_URL=https://staging-api.billify.be
      - NEXT_PUBLIC_DEBUG=false
      - NODE_ENV=production
    restart: always
    depends_on:
      - backend
    networks:
      - billify_network


  redis:
    image: redis:7-alpine
    restart: always
    networks:
      - billify_network

  minio:
    image: minio/minio
    restart: always
    volumes:
      - minio_data:/data
    environment:
      - MINIO_ROOT_USER=${MINIO_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_PASSWORD}
    command: server --console-address ":9001" /data
    networks:
      - billify_network

volumes:
  postgres_data:
    external: true
  minio_data:
    external: true

networks:
  billify_network:
    driver: bridge